# ─── Private local files ───────────────────────────────────────────
*.local.md

# ─── Environment ────────────────────────────────────────────────────
.env
.env.*
!.env.example

# ─── Dependencies ───────────────────────────────────────────────────
node_modules/
vendor/
.pnpm-store/

# ─── Build / Output ─────────────────────────────────────────────────
dist/
build/
out/
*.exe
*.dll
*.so
*.dylib
bin/
obj/
*.pdb
*.user
*.suo
*.cache
*.tmp
*.zip

# ─── IDE / Editor ───────────────────────────────────────────────────
.vscode/settings.json
.vscode/launch.json
.idea/
*.swp
*.swo
*~
.vs/
*.sln.docstates
*.userprefs
.idea/

# ─── OS ─────────────────────────────────────────────────────────────
Thumbs.db
.DS_Store
Desktop.ini

# ─── Logs ───────────────────────────────────────────────────────────
*.log
logs/




# ─── Dotnet ───────────────────────────────────────────────────────────
packages/
*.nupkg
**/[Rr]elease/
**/[Dd]ebug/

# ─── Project specific ───────────────────────────────────────────────────────────
/inspi/
yt-dlp/*.exe
src/MediaVacuum/Translations/
publish/
