# Build results
bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.cache
*.log
*.tmp

# IDE
.vs/
*.sln.docstates
*.userprefs
.idea/
*.swp
*~

# Dotnet
packages/
*.nupkg
**/[Rr]elease/
**/[Dd]ebug/

# OS
Thumbs.db
.DS_Store

# Project specific
/inspi/
yt-dlp/*.exe
src/MediaVacuum/Translations/
publish/
